 
      <div class="row service-offer">
         <div class="col-xs-12 col-md-8 intro-content">
            <h1 class="heading">Order Your Best food anytime.</h1>
            <p class="intro-paragraph">Hey ! Our Delicious food is waiting for you, we are always near to you with fresh item of food.</p>
            <div class="input-group" >
               <select class="custom-select search-form" id="inputGroupSelect04" aria-label="search city " (change)="onCityChange($event.target.value)">
                 <option selected value="-1">Find restaurants by city</option>
                 <option *ngFor="let city of cities" value="{{city.id}}">{{city.cityName | titlecase}}</option>
               </select>
               <div class="input-group-append">
                 <button class="btn search-btn"type="button" [disabled]="selectedCityId < 0" [routerLink]="['/restaurants']"  [queryParams]="{ city_id: selectedCityId }">Search</button>
               </div>
             </div>
         </div>
         <div class="col-xs-12 col-md-4">
            <img src="./../../../assets/images/burgerpng.png" class="img-fluid hero-img"  alt="burger image">
         </div> 
      </div>



