

.meal {
   background-color: #EBF9FC;
   padding:3rem;
   border-radius: 5px;
}

.heading {
   font-size: 3rem;
   font-weight: 700;
   margin-bottom: 1rem;
}
.heading-sub {
   font-size: 14px;
   font-weight: lighter;
}

.intro-paragraph {
   margin-bottom: 30px;
}

.intro-content {
   padding-top: 4rem;
   padding-left: 2rem;
   padding-bottom: 3rem;
}



.city-pill {
   // background-color: #fc8969;
}

.meal-cards {
   margin-top: 20px;
  
}
.menus {
   font-size: 2rem;
   font-weight: 800;
}