.restaurant-card {
   border-radius: 5px;
}
img.restaurant-logo{
   max-height: 150px;
}

.content {
   padding: 10px;
}

.restaurant-name {
   font-size: 16px;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;

}
.select-restaurant-btn {
  background-color: #fc8969;
  color: #fff;
  font-size: 12px;
}


